<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/home-login.css">
        <link rel="stylesheet" href="/css/home-login.css">
        <link rel="stylesheet" href="/css/popup.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="menu-bar" class="fa fa-bars"></div>
            <a href="/home" class="logo">Sneaker<span>Scout</span></a>
            <div class="search-box">
                <form action="" method="">
                    <button type="submit"><i class="fa fa-search"></i></i></button>
                    <input type="text" name="search" id="cari" placeholder="Search">
                </form>
            </div>
            <nav class="navbar">
                <a href="/catalog" class="nav-item">
                  <i class="fas fa-shoe-prints"></i>
                    <span>Catalog</span>
                </a>
                <a href="/login" class="nav-item">
                    <i class="fa fa-user"></i>
                    <span>Login</span>
                </a>
            </nav>

        </header>
        <!--end header-->
        <section class="home" id="logo">
            <div class="slide-container active">
                <div class="slide">
                    <div class="content">
                        <span>NEW ARRIVAL !</span>
                        <h3>Air Jordan 1 Retro High</h3>
                    </div>
                    <div class="image">
                        <img src="/img/home-login/slide/j1.png" class="shoe">
                    </div>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <div class="content">
                        <span>NEW ARRIVAL !</span>
                        <h3>Air Jordan 1 Retro High</h3>
                    </div>
                    <div class="image">
                        <img src="/img/home-login/slide/j2.png" class="shoe">
                    </div>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <div class="content">
                        <span>Nike Sport Shoes</span>
                        <h3>Air Jordan 1 Retro High</h3>

                    </div>
                    <div class="image">
                        <img src="/img/home-login/slide/j3.png" class="shoe">
                    </div>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <div class="content">
                        <span>Nike Sport Shoes</span>
                        <h3>Air Jordan 1 Retro High</h3>
                    </div>
                    <div class="image">
                        <img src="/img/home-login/slide/j4.png" class="shoe">
                    </div>
                </div>
            </div>

            <div id="prev" class="fa fa-angle-left" onclick="prev();"></div>
            <div id="next" class="fa fa-angle-right" onclick="next();"></div>
        </section>
        <!--end home-->

        <div class="frame1">
            <span class="our">Our Collection</span>
            <h3 class="welcome">Welcome to our exclusive sneaker collection, where each pair is a tribute to sneaker culture's rich heritage and bold future.
                 Designed for the true aficionado, our selection not only resonates with style but also narrates a story of innovation and passion.
                 Whether you're looking to stand out with a rare find or appreciate the finest craftsmanship, our collection promises something special 
                 for every sneakerhead. Dive into a world where each step is about making a statement. Start your journey with us today!</h3>
        </div>
        <section class="product" id="product">
            <h1 class="heading">NEW <span>RELEASE</span></h1>
            <div class="box-container" id="sneaker-mostpopular1">

                <div class = "frameimg"  data-sneaker-id="sneakerID">     
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
           
                        <a href="" class ="sneaker-details-link"  
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">   
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                  
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">    
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                  
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">    
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
              
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">    
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
              
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">  
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
               
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
          
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">   
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
             
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>
                
            </div>  
    </section>

    
    
    <div class="frame2">
        <div class="contenttext">
                <h3  class="kata">Hot Item !</h3>
                <h3 class="kata2">Nike Blazer Mid 77 Suede</h3>
            </div>
            <div class="contentimg">
                <img src="/img/home-login/slide/j5.png" alt="">
            </div>
        </div>


        <section class="product" id="product">
            <h1 class="heading">SNEAKER</span></h1>
            <div class="box-container" id="sneaker-mostpopular2">

                <div class = "frameimg"  data-sneaker-id="sneakerID">      
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">      
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                  
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">       
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                   
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">        
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                   
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">       
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                    
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">       
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                 
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">       
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                  
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">      
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                 
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div>

                <div class = "frameimg"  data-sneaker-id="sneakerID">      
                    <div class="circle">
                        <i class="fa fa-heart"></i>
                    </div>                  
                    <img src="/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                 
                        <a href="" class ="sneaker-details-link" 
                        target="_blank">Nike Dunk Low Retro 'USC</a>
                </div> 
            </div>
        </section>
        <!--end product-->

        <!--end featured-->
        <section class="blog" id="blog">
            <h1 class="heading">Team <span>Weblog</span></h1>
            <div class="box-container">
                <div class="box">
                    <img src="img/home-login/team/irfan.jpeg" alt="">
                    <h3>Muhamad Irfan Satria Dewantoro</h3>
                    <p>
                       Project Manager & UI/UX
                    </p>
                    <a>
                        "Being a sneaker scout is much like being an explorer. You venture into the unknown realms of fashion and functionality, searching not just for something that looks good, but for sneakers that push the boundaries of what is technically possible. It's about appreciating the craft, the innovative materials, and the design that transforms a simple shoe into a symbol of identity."
                    </a>
                   
                </div>
                <div class="box">
                    <img src="img/home-login/team/adit.jpg" alt="">
                    <h3 class="adit">Aditya Mahendra </h3>
                    <p class ="role">
                        Frontend Developer
                    </p>
                    <a>
                        "The joy of sneaker scouting isn't just in finding the rarest pairs or the latest drops; it's about the stories that come with each pair, the culture embedded in their design, and the community that lives and breathes this passion. Each sneaker is a narrative, a piece of art that speaks of feats and failures, of history and hope."
                    </a>
                   
                </div>
                <div class="box">
                    <img src="img/home-login/team/yasir.png" alt="">
                    <h3>Muhamad Yasir Buana Dyva</h3>
                    <p>
                       Backend Developer
                    </p>
                    <a>
                        "Sneakers transcend mere footwear; they are the pulse points of cultural revolutions, the canvases of artistic expression, and the battlegrounds of technological innovation. A true sneaker scout knows this, living in the threads of this expansive world, connecting dots that tie back to the very essence of human movement and aspiration."
                    </a>
                
                </div>
            </div>
        </section>
        <!--end blog-->
     
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4 class = "sneaker">Sneaker</h4>
                        <h4 class = "scout">Scout</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>

                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">sneakerscout@gmail.com</a></li>
                            <li><a href="#">+6281322510027</a></li>
                            <li><a href="#">returns</a></li>
        
                        </ul>
                    </div>
               
                    <div class="footer-col">
                        <h3 class="text">“Step into the scene. Whether you're cruising the streets or 
                            lighting up your collection, our sneakers are here to make every 
                            step iconic. Keep connected, stay stylish, and let your shoes do the talking.”</h3>
                      
                    </div>
                </div>
            </div>
            <hr style="width: 85%; margin: 20px auto; border: 1px solid #ccc;">
            <h5 class="Inc">2024 Sneaker Scout Inc. All rights reserved</h5>
       </footer>

            
<script src="/home.js"></script>
<script src="/sneaks-home.js"></script>

</html>