<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="menu-bar" class="fa fa-bars"></div>
            <div class="search-box"></div>
                <form action="/search" method="post">
                    <input type="text" name="search" id="cari" placeholder="Search" required>
                    <button type="submit"><i class="fa fa-search"></i></i></button>
                </form>
                <a href="#" class="logo">Sneaker<span>Scout</span></a>

            <nav class="navbar">
                <a href="/sneaker">Sneaker</a>
                <a href="#Wishlist">Wishlist</a>
                <a class = "button" href="/login">Login</a>
            </nav>

        </header>
        <!--end header-->
        <section class="home" id="logo">
            <div class="slide-container active">
                <div class="slide">
                    <div class="content">
                        <span>NEW ARRIVAL !</span>
                        <h3>Air Jordan 1 Retro High</h3>
                    </div>
                    <div class="image">
                        <img src="/img/index/slide/j1.png" class="shoe">
                    </div>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <div class="content">
                        <span>NEW ARRIVAL !</span>
                        <h3>Air Jordan 1 Retro High</h3>
                    </div>
                    <div class="image">
                        <img src="/img/index/slide/j2.png" class="shoe">
                    </div>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <div class="content">
                        <span>Nike Sport Shoes</span>
                        <h3>Air Jordan 1 Retro High</h3>

                    </div>
                    <div class="image">
                        <img src="/img/index/slide/j3.png" class="shoe">
                    </div>
                </div>
            </div>
            <div class="slide-container">
                <div class="slide">
                    <div class="content">
                        <span>Nike Sport Shoes</span>
                        <h3>Air Jordan 1 Retro High</h3>
                    </div>
                    <div class="image">
                        <img src="/img/index/slide/j4.png" class="shoe">
                    </div>
                </div>
            </div>

            <div id="prev" class="fa fa-angle-left" onclick="prev();"></div>
            <div id="next" class="fa fa-angle-right" onclick="next();"></div>
        </section>
        <!--end home-->
        <div class="frame1">
            <span class="our">Our Collection</span>
            <h3 class="welcome">Welcome to our exclusive sneaker collection, where each pair is a tribute to sneaker culture's rich heritage and bold future. <br> Designed for the true aficionado, our selection not only resonates with style but also narrates a story of innovation and passion.<br> Whether you're looking to stand out with a rare find or appreciate the finest craftsmanship, our collection promises something special <br> for every sneakerhead. Dive into a world where each step is about making a statement. Start your journey with us today!h</h3>
        </div>
        <section class="product" id="product">
            <h1 class="heading">NEW <span>RELEASE</span></h1>
            <div class="box-container">

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>
            </div>
        </section>
        

        <div class="frame2">
            <div class="contenttext">
                <h3  class="kata">Hot Item !</h3>
                <h3 class="kata2">Nike Blazer Mid 77 Suede</h3>
            </div>
            <div class="contentimg">
                <img src="/img/index/slide/j5.png" alt="">
            </div>
        </div>


        <section class="product" id="product">
            <h1 class="heading">SNEAKER</span></h1>
            <div class="box-container">

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>

                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                    </div>
                    <div class="content">
                        <img src="/img/product4/8.png" alt="">
                        <h3>Nike Shoes</h3>
                    </div>
                </div>
            </div>
        </section>
        <!--end product-->

        <!--end featured-->
        <section class="blog" id="blog">
            <h1 class="heading">Team <span>Weblog</span></h1>
            <div class="box-container">
                <div class="box">
                    <img src="/img/team/1.png" alt="">
                    <h3>Zahra Ahmadi</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Eos sequi temporibus impedit corporis vero ab exercitationem 
                        dolore voluptatibus, nisi non.
                    </p>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa fa-star"></i>
                    </div>
                </div>
                <div class="box">
                    <img src="/img/team/2.png" alt="">
                    <h3>Maryam Nazari</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Eos sequi temporibus impedit corporis vero ab exercitationem 
                        dolore voluptatibus, nisi non.
                    </p>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa fa-star-half-o"></i>
                    </div>
                </div>
                <div class="box">
                    <img src="/img/team/3.png" alt="">
                    <h3>Layla Akbari</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Eos sequi temporibus impedit corporis vero ab exercitationem 
                        dolore voluptatibus, nisi non.
                    </p>
                    <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa fa-star-half-o"></i>
                    </div>
                </div>
            </div>
        </section>
        <!--end blog-->
     
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4 class = "sneaker">Sneaker</h4>
                        <h4 class = "scout">Scout</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>

                        </div>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">sneakerscout@gmail.com</a></li>
                            <li><a href="#">+6281322510027</a></li>
                            <li><a href="#">returns</a></li>
        
                        </ul>
                    </div>
               
                    <div class="footer-col">
                        <h3 class="text">“Step into the scene. Whether you're cruising the streets or 
                            lighting up your collection, our sneakers are here to make every 
                            step iconic. Keep connected, stay stylish, and let your shoes do the talking.”</h3>
                      
                    </div>
                </div>
            </div>
            <hr style="width: 85%; margin: 20px auto; border: 1px solid #ccc;">
            <h5 class="Inc">2024 Sneaker Scout Inc. All rights reserved</h5>
       </footer>

            
<script src="/home.js"></script>