<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Wishlist</title>
  <link rel="stylesheet" href="/css/wishlist.css">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/popup.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div id="menu-bar" class="fa fa-bars"></div>
    <a href="/home" class="logo">Sneaker<span>Scout</span></a>
    <nav class="navbar">
        <a href="/home" class="nav-item">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
        <a href="/sneaker" class="nav-item">
            <i class="fas fa-shoe-prints"></i>
            <span>Catalog</span>
        </a>
        <a href="/profile" class="nav-item">
            <i class="fa fa-user"></i>
            <span>Account</span>
        </a>
    </nav>
  </header>
  <div class="frame1">
    <div class="wishlist">
      <a>Your Wishlist</a>
    </div>
    <section class="product" id="product">
        <div class="box-container" id="sneaker-mostpopular1">

          <% if (items.length) { %>
            <% items.forEach(function(item) { %>
              <div class="frameimg" data-sneaker-id="<%= item.styleID %>" >
                <div class="circle">
                  <i class="fa fa-heart"></i>
                </div>
                <img src="<%= item.thumbnail %>" alt="<%= item.shoeName %>"> 
                <a href="" class="sneaker-details-link" target="_blank"><%= item.shoeName %></a>
              </div>
            <% }) %>
          <% } else { %>
            <p class = "empty">Your wishlist is empty.</p>
          <% } %>
        </div>  
</section>
</div>

<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <h4 class = "sneaker">Sneaker</h4>
              <h4 class = "scout">Scout</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>

              </div>
          </div>
          <div class="footer-col">
              <h4 class="get">get help</h4>
              <ul>
                  <li><a href="#">sneakerscout@gmail.com</a></li>
                  <li><a href="#">+6281322510027</a></li>
                  <li><a href="#">returns</a></li>

              </ul>
          </div>
     
          <div class="footer-col">
              <h3 class="text">“Step into the scene. Whether you're cruising the streets or 
                  lighting up your collection, our sneakers are here to make every 
                  step iconic. Keep connected, stay stylish, and let your shoes do the talking.”</h3>
            
          </div>
      </div>
  </div>
  <hr style="width: 85%; margin: 20px auto; border: 1px solid #ccc;">
  <h5 class="Inc">2024 Sneaker Scout Inc. All rights reserved</h5>
</footer>

<script src="/wishlistpopup.js"></script>
</body>
</html>
