<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>wishlist page</title>
        <link rel="stylesheet" href="/public/css/wishlist.css">
        <link rel="stylesheet" href="/css/popup.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div id="menu-bar" class="fa fa-bars"></div>
            <a href="/home" class="logo">Sneaker<span>Scout</span></a>
            <nav class="navbar">
                <a href="/sneaker" class="nav-item">
                    <i class="fas fa-home"></i>
                    <span>Catalog</span>
                </a>
                <a href="#Wishlist" class="nav-item">
                    <i class="fas fa-heart"></i>
                    <span>Wishlist</span>
                </a>
                <a href="/profile" class="nav-item">
                    <i class="fa fa-user"></i>
                    <span>Account</span>
                </a>
            </nav>

        </header>

        <div class="frame1">
            <div class="wishlist">
              <a>Your Wishlist</a>
            </div>
            <section class="product" id="product">
                <div class="box-container" id="sneaker-mostpopular1">
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">     
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
               
                            <a href="" class ="sneaker-details-link"  
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">   
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                      
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">    
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                      
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">    
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                  
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">    
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                  
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                    
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">  
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                   
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
              
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
    
                    <div class = "frameimg"  data-sneaker-id="sneakerID">   
                        <div class="circle">
                            <i class="fa fa-heart"></i>
                        </div>                  
                        <img src="/public/img/home-login/product4/8.png" alt="Nike Dunk Low Retro 'USC'"> 
                 
                            <a href="" class ="sneaker-details-link" 
                            target="_blank">Nike Dunk Low Retro 'USC</a>
                    </div>
                </div>  
        </section>
        </div>
            