@font-face {
    font-family: 'iran_sans_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_light';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_medi.woff') format('woff');
}
*{
    font-family:  'Roboto Condensed';
    margin: 0;
    box-sizing: border-box;
    outline: none;

    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}
html{
    font-size: 60%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #ffffff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .search-box{
    flex:0;
    background-color: #EB4511;
}

.search-box input{
    border-radius: 20px;
    font-size:12;
    padding: 10px;
}


header .logo{
    font-size: 30px;
    color: #000;
    font-weight: 500;
    flex: 3;
    text-align: center; /* Center the logo text within its flex item */
    font-family: "Most Wazted";
    color: #EB4511;
}

header .navbar {
    display: flex;
    justify-content: space-around; /* Menyebar item navbar secara lebih merata */
}
header .navbar a{
    font-size: 1.5rem;
    color: #000;
    margin: 0 1rem;
    padding: 2px 0px;
    justify-content: space-between;
}

.logo {

    line-height: 1; /* Kurangi line-height untuk mendekatkan teks */
}

.logo span {
    display: block;
    margin-top: -15px; /* Jarak negatif untuk mendekatkan kedua baris */
    font-size: 30px; /* Ukuran font untuk baris kedua */
    color: #EB4511; /* Sesuaikan warna */
    font-family: "most wazted";
}


header .navbar .button{
    background-color: #EB4511;
    border: none;
    padding: 2px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar .fa-user {
    font-size: 20px; /* Sesuaikan ukuran sesuai kebutuhan */
}
header .navbar a:hover{
    color: orangered;
}

header .navbar .button:hover{
    color: rgb(0, 0, 0);
}

header .icons a{
    font-size: 2rem;
    color: #000;
    margin-left: 2rem;
}
header .icons a:hover{
    color: orangered;
}

#menu-bar{
    font-size: 2rem;
    padding: .5rem 1rem;
    border: .1rem solid #000;
    color: #000;
    border-radius: .3rem;
    cursor: pointer;
    display: none;
    margin-left: auto; 
}
/* end header  */
section{
    padding: 2rem 9%;
}
.home{
    padding: 0;
    position: relative;
}
.home .slide-container .slide{
    min-height: 100vh;
    height: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 9%;
    padding-top: 9rem;
    background-color: #EDEDED;
}
.home .slide-container .slide .content{
    flex: 1 1 40rem;
    animation: slideContent .1s linear 0.5s backwards;
    background-color: #EDEDED;
    overflow: hidden;
    transform: translateY(-120%);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Menyelaraskan konten secara vertikal */
    align-items: center; 
}
@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
}
.home .slide-container .slide .image{
    flex: 1 1 50rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 0;
}
.home .slide-container .slide .image .shoe{
    max-width: none; /* Removes max-width restriction if previously set */
    width: 115%;
    height: auto;
    animation: shoe .3s linear;
    transform: translateX(-70%);
    transform: translateY(-15%);
}
@keyframes shoe{
    0%{
        transform: rotate(0deg) scale(.5);
    }
}
.home .slide-container .slide .content span{
    font-size: 7rem;
    color: rgb(0, 0, 0);
    font-family: 'Most Wazted', 'Roboto Condensed';
    transform: translateY(-10%);
    display: inline-block;
}
.home .slide-container .slide .content h3{
    font-size: 3rem;
    color: #000;
    transform: translateY(-10%);
    display: inline-block;
}
.home .slide-container .slide .content p{
    font-size: 1.7rem;
    color: #666;
    padding: .5rem 0;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    border: .2rem solid #000;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #000;
    cursor: pointer;
    background: #fff;
    padding: .8rem 3rem;
}

.home .slide-container{
    display: none;
}
.home .slide-container.active{
    display: block;
}
.home #prev,.home #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: #000;
    border:.2rem solid #000;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.home #prev:hover,.home #next:hover{
    color: #fff;
    background: orangered;
}
.home #prev{
    left: 3rem;
}
.home #next{
    right: 3rem;
}
/* end home  */


.frame1{
    background-color: #ffffff;
    height: auto; /* Mengatur tinggi secara otomatis berdasarkan konten */
    padding: 120px; /* Memberikan padding di sekeliling konten */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}


.frame1 .our{
    font-family: "Most Wazted";
    font-size: 6rem;
}


.frame1 .welcome{
    font-family: "roboto Slab";
    font-size: 1.5rem;
}


.heading{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.heading span{
    color: rgb(252, 118, 69);
}
.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.product .box-container .box{
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: 1rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: #EDEDED;
    flex: 1 1 30rem;
}
.product .box-container .content{
    padding: 1.5rem;
}
.product .box-container .box img{
    height: 18rem;

    margin: 3rem 0rem;
}
.product .box-container .box:hover img{
    transform: scale(1.2);
}
.product .box-container .box .icons{
    display: flex;
    flex-flow: column;
    position: absolute;
    top: .5rem;
    left: 1rem;
}
.product .box-container .box .icons a{
    height: 4.5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: #000;
    border: .1rem solid #000;
    border-radius: .5rem;
    background: #fff;
    margin-top: .5rem;
}
.product .box-container .box .icons{
    display: flex;
    flex-flow: column;
    position: absolute;
    top: .5rem;
    left: -10rem;
}
.product .box-container .box:hover .icons{
    left: 1rem;
}
.product .box-container .box .icons a:hover{
    color: orangered;
    color: #fff;
}
.product .box-container .box .content h3{
    color: #000;
    font-size: 2rem;
    margin-bottom: 10;
}
.product .box-container .box .content .price{
    color: #000;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 1rem 0;
}
.product .box-container .box .content .price span{
    color: #000;
    font-size: 1.5rem;
    text-decoration: line-through;
}
/* end product  */

.frame2{
    background-color: #EDEDED;
    display: flex;
    min-height: 70vh;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.frame2 .contenttext{
    position:relative;
    background-color: #EDEDED; /* Warna background contenttext */
    color: #000000; /* Warna teks putih */
    display: flex; /* Flex container untuk menengahkan konten */
    flex-direction: column; /* Susun teks secara kolom */
    justify-content: center; /* Menengahkan konten secara vertikal */
    align-items: center; /* Menengahkan konten secara horizontal */
    height: 100%; /* Tinggi penuh dari parent */
    width: 50%; /* Lebar 50% dari frame2 */
    gap: 1rem; /* Jarak antar baris teks */
}   

.frame2 .contenttext .kata{
    font-size: 7rem;
    font-family: "most Wazted";
    text-align: center;
}


.frame2 .contenttext .kata2{
    font-size: 2rem;
    font-family: "roboto slab";
    text-align: center;
}

.contentimg{
    position: relative;
    background-color: #EDEDED;
    width: 50%;
    text-align: center;
    overflow: hidden; /* Ensure the image does not overflow */
    height: auto;
    border-radius: 8px;
}

.contentimg img{
    width: 80%;
    height: auto;
    left: 10%;
}


.featured .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
    align-items: center;
    margin: 1.5rem 0;
}
.featured .row .content{
    flex: 1 1 40rem;
}
.featured .row .image-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1 1 50rem;
}
.featured .row .image-container .small-image{
    width: 20%;
}
.featured .row .image-container .big-image{
    width: 80%;
    padding: 1rem;
}
.featured .row .image-container .small-image img{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.featured .row .image-container .small-image img:hover{
    background: #ccc;
}
.featured .row .image-container .big-image img{
    width: 100%;
}
.featured .row .image-container .big-image img:hover{
    transform: scale(1.05);
}
.featured .row .content h3{
    font-size: 2.5rem;
    color: #000;
}
.featured .row .content .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}
.featured .row .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.featured .row .content .price{
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
}
.featured .row .content .price span{
    font-size: 1.5rem;
    color: orange;
    text-decoration: line-through;
}
/* end featured  */
.blog .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.blog .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}
.blog .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    margin: 1rem 0;
    border: 4px solid #ddd;
}
.blog .box-container .box img:hover{
   transform: scale(1.2);
}
.blog .box-container .box h3{
    font-size: 2.5rem;
    color: #000;
}
.blog .box-container .box p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}
.blog .box-container .box .stars i{
    color: orangered;
    font-size: 2rem;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
    padding: 10px 0;
}

.row{
	display: flex;;
	flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: -75px;
}

ul{
	list-style: none;
}
.footer{
	background-color: #3E3E3E;
    padding: 37px 0;
    
}
.footer-col{
   width: 33%;
   margin-top: 20px;
   padding: 0 110px;

}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
    
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links{
    transform: translateY(-130px);
    margin-left: 15px;
    margin-top: 20px; /* Atur jarak vertikal logo sosial media */
    margin-bottom: 20px;
}


.footer .social-links a {
    display: inline-block;
    margin: 0 10px; /* Jarak antar ikon */
    font-size: 30px; /* Ukuran ikon */
    color: #fff; /* Warna ikon */
    transition: color 0.3s ease;
    
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-col .sneaker{
    position: relative;
    color: #EB4511;
    font-family: "most wazted";
    font-size: 5rem;
    bottom: 20px;
}

.footer-col .scout{
    position: relative;
    color: #EB4511;
    font-family: "most wazted";
    font-size: 5rem;
    left: 10%;
    bottom: 38%;
}

.footer-col h3{
    text-align: right;
    font-size: 14px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    
}

.inc{
    margin-left: 75%;
    color: #C9C9C9;
    font-family: "roboto slab";
    font-size: 1.1rem;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




