@font-face {
    font-family: 'iran_sans_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_light';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_medi.woff') format('woff');
}
*{
    font-family:  'Roboto Condensed';
    margin: 0;
    box-sizing: border-box;
    outline: none;

    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}
html{
    font-size: 60%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    gap: 20px;
    width: 100%;
    z-index: 100;
    background: #ffffff;
    padding: 2rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .search-box{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
    width: 700px;
}

header .search-box form{
    display: flex;
}

.search-box input{
    border-radius: 5px;
    font-size: 15px;
    margin-left: 5px;
    font-family: "roboto slab";
    background: transparent;
    border: none;
    color: #000000;
    width: 630px;
}

.search-box button{
    border-radius: 5px;
    font-size: 15px;
    font-family: "roboto slab";
    background: transparent;
    border: none;
    color: #bbbbbb;
    font-size: 15px;
    margin-left:10px ;
}

header .logo{
    font-size: 30px;
    color: #000;
    font-weight: 500;
    text-align: center; /* Center the logo text within its flex item */
    font-family: "Most Wazted";
    color: #EB4511;
    max-width: 100px;
}

header .navbar {
    display: flex;
    justify-content: space-around; /* Menyebar item navbar secara lebih merata */
    align-items: center;
    gap:10px;
}
header .navbar a{
    font-size: 1.5rem;
    display: flex;
    color: #000;
    margin: 0 0.5rem;
    padding: 4px 0px;
    justify-content: space-between;
    font-family: "roboto slab";
    color: #afafaf;
}

header .navbar span{
    font-family: "roboto slab";
}

.logo {

    line-height: 1; /* Kurangi line-height untuk mendekatkan teks */
}

.logo span {
    display: block;
    margin-top: -15px; /* Jarak negatif untuk mendekatkan kedua baris */
    font-size: 30px; /* Ukuran font untuk baris kedua */
    color: #EB4511; /* Sesuaikan warna */
    font-family: "most wazted";
}



.nav-item {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust spacing between icon and text */
    color: #909090; /* Customize color */
    text-decoration: none;
}

header .navbar a:hover{
    color: orangered;
}

header .navbar .button:hover{
    color: rgb(0, 0, 0);
}


#menu-bar{
    font-size: 2rem;
    padding: .5rem 1rem;
    border: .1rem solid #000;
    color: #000;
    border-radius: .3rem;
    cursor: pointer;
    display: none;
    margin-left: auto; 
}
/* end header  */
section{
 display: flex;
}
.home{
    padding: 0;
    position: relative;
}
.home .slide-container .slide{
    min-height: 100vh;
    height: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 9%;
    padding-top: 9rem;
    background-color: #EDEDED;
}
.home .slide-container .slide .content{
    flex: 1 1 40rem;
    animation: slideContent .1s linear 0.5s backwards;
    background-color: #EDEDED;
    overflow: hidden;
    transform: translateY(-120%);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Menyelaraskan konten secara vertikal */
    align-items: center; 
}
@keyframes slideContent{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }
}
.home .slide-container .slide .image{
    flex: 1 1 50rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 0;
}
.home .slide-container .slide .image .shoe{
    max-width: none; /* Removes max-width restriction if previously set */
    width: 115%;
    height: auto;
    animation: shoe .3s linear;
    transform: translateX(-70%);
    transform: translateY(-15%);
}
@keyframes shoe{
    0%{
        transform: rotate(0deg) scale(.5);
    }
}
.home .slide-container .slide .content span{
    font-size: 7rem;
    color: rgb(0, 0, 0);
    font-family: 'Most Wazted', 'Roboto Condensed';
    transform: translateY(-10%);
    display: inline-block;
}
.home .slide-container .slide .content h3{
    font-size: 3rem;
    color: #000;
    transform: translateY(-10%);
    display: inline-block;
}
.home .slide-container .slide .content p{
    font-size: 1.7rem;
    color: #666;
    padding: .5rem 0;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    border: .2rem solid #000;
    font-weight: bolder;
    font-size: 1.7rem;
    color: #000;
    cursor: pointer;
    background: #fff;
    padding: .8rem 3rem;
}

.home .slide-container{
    display: none;
}
.home .slide-container.active{
    display: block;
}
.home #prev,.home #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: #000;
    border:.2rem solid #000;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.home #prev:hover,.home #next:hover{
    color: #fff;
    background: orangered;
}
.home #prev{
    left: 3rem;
}
.home #next{
    right: 3rem;
}
/* end home  */


.frame1{
    background-color: #ffffff;
    height: auto; /* Mengatur tinggi secara otomatis berdasarkan konten */
    padding: 12px; /* Memberikan padding di sekeliling konten */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 10%;
}


.frame1 .our{
    font-family: "Roboto Slab";
    font-size: 3rem;
    font-weight: bold;
}


.frame1 .welcome{
    font-family: "roboto Slab";
    font-size: 1.5rem;
}


.heading{
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.heading span{
    color: rgb(252, 118, 69);
}

.product{
    width: auto;
}

.product .filter{
    position: relative;
    width: 350%;
    height: 100%;
    left: 1%;
    overflow: hidden;
    flex-wrap: wrap;
}

.product .filterbox1{
    position: relative;
    background-color: #ffffff;
    width: 70%;
    height: 40%;
    left: 7%;
    border-radius: 15px;
    flex-wrap: wrap;
    border: 2px solid rgb(187, 187, 187);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin-top: 1.5px;
}

.product .filterbox1 a{
    font-weight: bold;
    display: block; /* Mengubah <a> menjadi elemen blok */
    font-family: "Roboto Slab";
    font-size: 2rem;
    margin-top: 0px;
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    padding: 1rem;
    flex-wrap: wrap;
}

.product .filterbox1 hr{
    border: #000;
    border-top: 2px solid #eee;
}

#sneaker-filter-form {
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product .filterbox1 label {
    font-family: "Roboto Slab";
    font-size: 1.5rem;
    color: #333;
}

.product .filterbox1 input[type="checkbox"] {
    margin-right: 10px;
}

.footer-col .get{
    margin-bottom: 1rem;
}


.filterbox1 button{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.filterbox1 button:hover{
    background-color: #EB4511;
    color: white;
}

.filter-harga{
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-harga input{
    border: none;
    border-radius: 10px;
    width: 85%;
    padding: 10px;
    background-color: #dadada;
}

.product .box-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 900%;
    background-color: #ffffff;
    gap: 15px;
    right: 2%;
}



.product .box-container .frameimg{
    flex: 1 1 calc(30% - 20px);
    min-width: 200px; /* Ukuran minimum */
    width: 30%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow:hidden;
    text-align: center;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
 }

 .product .box-container .frameimg img{
    width: 60%;
    object-fit: cover;
    z-index: 1;
 }
 
 .frameimg a[target="_blank"] {
    display: block;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
    font-family: "Roboto Slab";
    padding:20px;
}

.product .box-container .frameimg a{
    display: block;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px; /* Adjust the font size as needed */
    text-align: center;
    font-family: "Roboto Slab";
    padding:20px;
}


 .product .box-container .frameimg .circle{ 
    background-color: #afafaf;
    width: 40px; /* Sesuaikan ukuran lingkaran */
    height: 40px;
    display: flex; /* Gunakan Flexbox untuk membuat ikon di tengah */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 83%;
    margin-top: 10px;
    z-index: 10;
    position: relative;
 }


 .product .box-container .circle .fa-heart{
    font-size: 2rem;
    color: #ffffff;
 }

 .product .box-container .frameimg  hr {
    position: relative;
    width: auto;
    border: 1px solid rgb(187, 187, 187);
    z-index: 1; /* Pastikan berada di bawah lingkaran */
}

.product .box-container .box:hover img{
    transform: scale(1.z);
}

.product .box-container .box:hover .icons{
    left: 1rem;
}

.product .box-container .frameimg:hover img{
    transform: scale(1.2);
}

.product .box-container .box .icons a:hover{
    color: orangered;
    color: #fff;
}
.product .box-container .box .content h3{
    color: #000;
    font-size: 2rem;
    margin-top: 20;
    margin-bottom: 20;
    flex-wrap: wrap;
}
.product .box-container .box .content .price{
    color: #000;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 1rem 0;
}
.product .box-container .box .content .price span{
    color: #000;
    font-size: 1.5rem;
    text-decoration: line-through;
}
/* end product  */

.frame2{
    background-color: #EDEDED;
    display: flex;
    min-height: 70vh;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.frame2 .contenttext{
    position:relative;
    background-color: #EDEDED; /* Warna background contenttext */
    color: #000000; /* Warna teks putih */
    display: flex; /* Flex container untuk menengahkan konten */
    flex-direction: column; /* Susun teks secara kolom */
    justify-content: center; /* Menengahkan konten secara vertikal */
    align-items: center; /* Menengahkan konten secara horizontal */
    height: 100%; /* Tinggi penuh dari parent */
    width: 50%; /* Lebar 50% dari frame2 */
    gap: 1rem; /* Jarak antar baris teks */
}   

.frame2 .contenttext .kata{
    font-size: 7rem;
    font-family: "most Wazted";
    text-align: center;
}


.frame2 .contenttext .kata2{
    font-size: 2rem;
    font-family: "roboto slab";
    text-align: center;
}

.contentimg{
    position: relative;
    background-color: #EDEDED;
    width: 50%;
    text-align: center;
    overflow: hidden; /* Ensure the image does not overflow */
    height: auto;
    border-radius: 8px;
}

.contentimg img{
    width: 80%;
    height: auto;
    left: 10%;
}


.featured .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
    align-items: center;
    margin: 1.5rem 0;
}
.featured .row .content{
    flex: 1 1 40rem;
}
.featured .row .image-container{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1 1 50rem;
}
.featured .row .image-container .small-image{
    width: 20%;
}
.featured .row .image-container .big-image{
    width: 80%;
    padding: 1rem;
}
.featured .row .image-container .small-image img{
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    cursor: pointer;
}
.featured .row .image-container .small-image img:hover{
    background: #ccc;
}
.featured .row .image-container .big-image img{
    width: 100%;
}
.featured .row .image-container .big-image img:hover{
    transform: scale(1.05);
}
.featured .row .content h3{
    font-size: 2.5rem;
    color: #000;
}
.featured .row .content .stars i{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
}
.featured .row .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.featured .row .content .price{
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
}
.featured .row .content .price span{
    font-size: 1.5rem;
    color: orange;
    text-decoration: line-through;
}
/* end featured  */
.blog .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.blog .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}
.blog .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height: 15rem;
    width: 15rem;
    margin: 1rem 0;
    border: 4px solid #ddd;
}
.blog .box-container .box img:hover{
   transform: scale(1.2);
}
.blog .box-container .box h3{
    font-size: 2.5rem;
    color: #000;
}
.blog .box-container .box p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}
.blog .box-container .box .stars i{
    color: orangered;
    font-size: 2rem;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
    padding: 10px 0;
}

.row{
	display: flex;;
	flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: -75px;
}

ul{
	list-style: none;
}
.footer{
	background-color: #3E3E3E;
    padding: 15px 0;
    position: relative;
}
.footer-col{
   width: 33%;
   margin-top: 20px;
   padding: 0 110px;

}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: 500;
	position: relative;
    
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links{
    transform: translateY(-130px);
    margin-left: 15px;
    margin-top: 20px; /* Atur jarak vertikal logo sosial media */
    margin-bottom: 20px;
}


.footer .social-links a {
    display: inline-block;
    margin: 0 10px; /* Jarak antar ikon */
    font-size: 30px; /* Ukuran ikon */
    color: #fff; /* Warna ikon */
    transition: color 0.3s ease;
    
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-col .sneaker{
    position: relative;
    color: #EB4511;
    font-family: "most wazted";
    font-size: 5rem;
    bottom: 20px;
}

.footer-col .scout{
    position: relative;
    color: #EB4511;
    font-family: "most wazted";
    font-size: 5rem;
    left: 10%;
    bottom: 38%;
}

.footer-col h3{
    text-align: right;
    font-size: 14px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
    
}

.inc{
    color: #C9C9C9;
    font-family: "roboto slab";
    font-size: 1.1rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
    position: relative;
    text-align: right;
}


/*responsive*/
@media(max-width: 767px){
.frameimg{
    padding: 20px;
}
  .box-container{
    width: 45%;
  }  
}

@media(max-width: 480px){
  .box-container{
    width: 100%;
}
}

.show-more-container {
    margin: 20px 0;
    margin-left: 26%;
    margin-right: 2%;
  }
  
  #show-more {
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  #show-more:hover {
    background-color:#EB4511 ;
  }
  
  .frameimg .circle .fa-heart {
    font-size: 2rem;
    color: #ffffff;
}

  .frameimg .circle .fa-heart.active {
    color: red; /* Warna saat aktif */
  }

  .frameimg .fa-heart.active {
    color: red; /* Changes the color of the heart icon to red when it has the 'active' class */
}

    .circle .fa-heart.active {
        color: red; /* Warna saat aktif */
      }
      .fa-heart.active {
        color: red; /* Changes the color of the heart icon to red when it has the 'active' class */
    }
 


